doctype html
html
    head   
        meta(charset='utf-8')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')

    body
        div.header
        div.week
            
        div.subTitle
            h3 2020.03.21
        div.at_or_st
            a(href='/thisweek?menu=attendance') 출석체크
            h &nbsp&nbsp
            a(href='/thisweek?menu=study') 공과
        script.
            function changeAt(self){
                let type=self.name;
                let name=self.id;
                location.href=`/thisweek_process?type=${type}&name=${name}`;
            };
        case mainDiv 
            when 'attendance'
                include attendance
            when 'study'
                include study
        
        
        div.footer