#profile {
    margin-left: 3rem;
    margin-right: 3rem;
}
    
#profile .table {
    width : 250px
}

@media (min-width: 576px) {
    #profile {
        width : 75%;
        margin : auto;
    }    
}

@media (min-width: 992px) {
    div#personal {
        display: flex;
        justify-content: space-around;
    }

    div#personal > div {
        width: 45%;
        margin : auto
    }
}

.photo {
    margin-left: auto;
    border-radius: 30%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.photo img {
    width: inherit;
}