
/* 
https://github.com/twbs/bootstrap  
컬러참고 https://www.picuki.com/media/2007114283640804182
도형참고 https://css-tricks.com/the-shapes-of-css/ 
*/
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
:root{
    --mainnavy :#2c256b;
    --mainnavy-down :#4a438b;
    --mainblue : #6f9dad;
    --mainblue-down : #688e9b;
    --mainyellow : #e0c053;
    --mainyellow-down : #d8c06a;
    --mainred :#d76e73;
    --mainred-down : #d5888c;
}

*{
    font-family:'Nanum Gothic';
}
*{
    color:#000000;
    text-decoration:none;
}
*:hover{
    color:#bbbbbb;
    text-decoration:none;
}

.container-lg{
    padding:0;
}
@media (max-width: 576px) { /*과도하게 창이 작아졌을때, 더이상 작아지지 않도록*/
    .container-lg{
        min-width: 540px;
    }
    .infinite{ /*모바일화면에서 깨짐현상 방지*/
        width:540px;
    }
}



/*buttons*/






.btn-main {
    color: #fff;
    background-color: var(--mainnavy);
    border-color: var(--mainnavy);
}
.btn-main:hover {
  color: #fff;
  background-color: var(--mainnavy-down);
  border-color: var(--mainnavy-down);
}
.btn-main:focus, .btn-main.focus {
  color: #fff;
  background-color:var(--mainnavy-down);
  border-color: var(--mainnavy-down);
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-main:active, .btn-main.active,
.show > .btn-main.dropdown-toggle {
  color: #fff;
  background-color: var(--mainnavy-down);
  border-color: var(--mainnavy-down);
}
.btn-main:active:focus, .btn-main.active:focus,
.show > .btn-main.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-main:disabled, .btn-main.disabled {
    color: #fff;
    background-color: var(--mainnavy);
    border-color: var(--mainnavy);
}

.btn-outline-main {
  color: var(--mainnavy);
  border-color: var(--mainnavy);
}
.btn-outline-main:hover {
  color: #fff;
  background-color: var(--mainnavy);
  border-color: var(--mainnavy);
}
.btn-outline-main:focus, .btn-outline-main.focus {
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-outline-main:active, .btn-outline-main.active, .btn-outline-main.dropdown-toggle.show {
  color: #fff;
  background-color: var(--mainnavy);
  border-color: var(--mainnavy);
}
.btn-outline-main:active:focus, .btn-outline-main.active:focus, .btn-outline-main.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-outline-main:disabled, .btn-outline-main.disabled {
  color: var(--mainnavy);
  background-color: transparent;
}

.btn-blue {
    color: #fff;
    background-color: var(--mainblue);
    border-color: var(--mainblue);
}
.btn-blue:hover {
  color: #fff;
  background-color: var(--mainblue-down);
  border-color: var(--mainblue-down);
}
.btn-blue:focus, .btn-blue.focus {
  color: #fff;
  background-color:var(--mainblue-down);
  border-color: var(--mainblue-down);
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-blue:active, .btn-blue.active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: var(--mainblue-down);
  border-color: var(--mainblue-down);
}
.btn-blue:active:focus, .btn-blue.active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-blue:disabled, .btn-blue.disabled {
    color: #fff;
    background-color: var(--mainblue);
    border-color: var(--mainblue);
}

.btn-yellow {
    color: #fff;
    background-color: var(--mainyellow);
    border-color: var(--mainyellow);
}
.btn-yellow:hover {
  color: #fff;
  background-color: var(--mainyellow-down);
  border-color: var(--mainyellow-down);
}
.btn-yellow:focus, .btn-yellow.focus {
  color: #fff;
  background-color:var(--mainyellow-down);
  border-color: var(--mainyellow-down);
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-yellow:active, .btn-yellow.active,
.show > .btn-yellow.dropdown-toggle {
  color: #fff;
  background-color: var(--mainyellow-down);
  border-color: var(--mainyellow-down);
}
.btn-yellow:active:focus, .btn-yellow.active:focus,
.show > .btn-yellow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-yellow:disabled, .btn-yellow.disabled {
    color: #fff;
    background-color: var(--mainyellow);
    border-color: var(--mainyellow);
}

.btn-red {
    color: #fff;
    background-color: var(--mainred);
    border-color: var(--mainred);
}
.btn-red:hover {
  color: #fff;
  background-color: var(--mainred-down);
  border-color: var(--mainred-down);
}
.btn-red:focus, .btn-red.focus {
  color: #fff;
  background-color:var(--mainred-down);
  border-color: var(--mainred-down);
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-red:active, .btn-red.active,
.show > .btn-red.dropdown-toggle {
  color: #fff;
  background-color: var(--mainred-down);
  border-color: var(--mainred-down);
}
.btn-red:active:focus, .btn-red.active:focus,
.show > .btn-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #93939370;
}
.btn-red:disabled, .btn-red.disabled {
    color: #fff;
    background-color: var(--mainred);
    border-color: var(--mainred);
}


/* 구분선 */
#dividerBox{
    height:0;
    margin : 0 auto;
    border-bottom : solid 1px #2c256b;
}




/*================================================================*/
/*=============         LOCAL                 ====================*/
/*================================================================*/

/*navbar*/

.navbar-light .navbar-brand {
    color: #2c256b;
    font-weight: bold;
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2844, 37, 107, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}






#selectWeek {
    display: inline-block;
}

/*이거 없어짐*/
#choice{
    text-align:center;
    vertical-align:middle;
    margin: 10px;
}
#choice .btn-main{
    font-size: 1.75rem;
    line-height: 1.2;
    background-color: #272658;
    color: #ffffff;
    width: -webkit-fill-available;
    height: 50px;
}
#choice .btn-main-second{
    background-color: #44446dd9;
    border-color:#44446dd9;
}
/* hover,focus 설정*/




/*table 수정*/

/* #weeklyButtons div{
    border: solid 1px powderblue;
} */

.weeklyButtons #innerBox{
    white-space: nowrap;
    overflow-x:scroll;
    padding:0;
}

.weeklyButtons #innerBox > div{
    width:768px;
}

.weeklyButtons #innerBox .row{
    margin:0;
    padding:0;
}

@media (min-width: 992px) { /*md 768 or lg 992*/
    .weeklyButtons #innerBox{
        white-space: nowrap;
        overflow-x: unset;
    }
    
    .weeklyButtons #innerBox > div{
        width:auto;
    }
}


.weeklyButtons li{
    list-style:none;
    height:50px;
    text-align:center;
    border-bottom: solid 1px rgba(0,0,0,.125);
}

.weeklyButtons .tablehead{
    padding :12px;
}

.weeklyButtons .btn{
    width: 90%;
    height: 40px;
}

.weeklyButtons .smaller .form-control{
    display: inline-block;
    vertical-align:middle;
    padding-right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    width: 50px;
    height: 40px;
}

.weeklyButtons .smaller .btn{
    width: 40px;
    padding-left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -9px;
    margin-top:0.5px;
} 

#newMem{
    border-bottom: 0 !important;
    
}
#newMem .btn-outline-main{
    width: 100px;
    font-size : 0.75rem;
    padding:0;
}

/*result 1위*/
.table-first,
.table-first > th,
.table-first > td {
  background-color: #d7d4f5;
    font-weight: 800;
}

.table-first th,
.table-first td,
.table-first thead th,
.table-first tbody + tbody {
  border-color: var(--mainnavy);
}

.table-hover .table-first:hover {
  background-color: #b9b5de;
}

.table-hover .table-first:hover > td,
.table-hover .table-first:hover > th {
  background-color:#b9b5de;
}


/*footer*/
#footer{
    background-color: #e3e3e6;
}